#datePicker {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 579px;
  margin-left: 25px;
  margin-right: 10px;
}

#tabs {
  height: 579px;
}

#tabHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tab {
  border-bottom: 1px solid white;
  width: 130px;
  padding-bottom: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}

#genreTab:hover {
  border-color: #FF6961;
  color: #FF6961;
}

#datePickerTab:hover {
  border-color: mediumaquamarine;
  color: mediumaquamarine;
}

.decade {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 300;
  height: 100px;
  width: 300px;
  padding-top: 5px;
}

.decadeHeader {
  margin-right: 25px;
  transition: color .2s;
}

.decadeYears {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 100px;
}

.decadeYear {
  margin: 0px 5px;
  margin-bottom: 6px;
}

.decadeYear:hover {
  color: mediumaquamarine;
  transition: color .2s;
  cursor: pointer;
}

.months {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 100px;
}

.month:hover {
  color: mediumaquamarine;
  transition: color .2s;
  cursor: pointer;
}

.month {
  margin: 0px 6px;
  margin-bottom: 6px;
}

#genres {
  width: 300px;
  margin-left: 25px;
  margin-right: 10px;
}
