#graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 579px;
}

#titleBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
  border-bottom: 1px solid #ccc;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#titleArtist {
  font-size: 20px;
  margin-right: auto;
  margin-left: 50px;
}

#titleDate {
  font-size: 16px;
  margin-right: 50px;
}

#trackList {
  width: 250px;
  height: 100%;
}

.albumImage {
  margin-right: 30px;
  min-width: 50px;
  border-radius: 25px;
}

.trackBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  width: inherit;
  margin-bottom: 15px;
  transition: all 2930ms linear;
  font-family: 'Roboto', sans-serif;
}

#stagingArea {
  width: 100%;
  height: 53px;
  background: rgb(0, 0, 0);
  position: relative;
  border-top: 1px solid black;
}

#chart {
  width: 700px;
  height: 520px;
  background-color: black;
  border-left: 1px solid white;
}
